<!--Select with pure css-->
<div class="homeWrap">
  <p style="font-size: 3vh;
  font-weight: 500;margin-bottom:5vh"> Username: {{username}}
    </p>
    <button class="create" (click)='createPassword("bank")'>
      Create Banking Password
    </button>
    <button class="create" [disabled]="!bankPass" (click)='createPassword("email")'>
        Create Email Password
      </button>
      <button class="create" [disabled]="!bankPass || !emailPass"  (click)='createPassword("instagram")'>
          Create Instagram Password
        </button>

        <br>    <br>    <br>
    
        <h4  >
          Test Password
          </h4>
          <br> 
          <!-- [disabled]="!bankPass || !emailPass || !igPass"  -->
        <button class="create" [disabled]="!bankPass || !emailPass || !igPass" (click)='enterPassword("instagram")'>
          Enter Instagram Password
        </button>
        <button class="create" [disabled]="!bankPass || !emailPass || !igPass" (click)='enterPassword("bank")'>
            Enter Banking Password
          </button>
          <button class="create"  [disabled]="!bankPass || !emailPass || !igPass" (click)='enterPassword("email")'>
            Enter Email Password
            </button>
    
       
</div>

<div class="homeLog">
  <h4> User activity log
    </h4>
    <button class="create"  (click)='download()'>
        Export as CSV
        </button>
        
    <ul class="nobull">
        <li> Username: {{this.log.username}} </li>
        <li> Visited site: {{this.log.enteredSite | date:'medium'}} </li>
        <li *ngIf="this.log.generatePass.bank"><b>
          Generate bank password log
        </b>
          </li>
          <div *ngIf="this.log.generatePass.bank">
              <li> Started creation of password:  {{this.log.generatePass.bank.startTime | date:'medium' }} </li>
              <li> Completed creation of password:  {{this.log.generatePass.bank.completionTime | date:'medium' }} </li>
              <li> Number of failed attempts:  {{this.log.generatePass.bank.failedAttempts }} </li>
              <li> Number of  attempts:  {{this.log.generatePass.bank.attempts }} </li>
              <li> Number of  successful attempts:  {{(this.log.generatePass.bank.attempts) - (this.log.generatePass.bank.failedAttempts) }} </li>
             
          </div> 

       
        <li *ngIf="this.log.generatePass.email"><b>
            Generate email password log
          </b>
            </li>

            <div *ngIf="this.log.generatePass.email">
                <li> Started creation of password:  {{this.log.generatePass.email.startTime | date:'medium' }} </li>
                <li> Completed creation of password:  {{this.log.generatePass.email.completionTime | date:'medium'  }} </li>
                <li> Number of failed attempts:  {{this.log.generatePass.email.failedAttempts }} </li>
                <li> Number of  attempts:  {{this.log.generatePass.email.attempts }} </li>
                <li> Number of  successful attempts:  {{(this.log.generatePass.email.attempts) - (this.log.generatePass.email.failedAttempts) }} </li>
             
               
            </div> 
         <li *ngIf="this.log.generatePass.instagram"><b>
            Generate instagram password log
            </b>
              </li>

              <div *ngIf="this.log.generatePass.instagram">
                  <li> Started creation of password:  {{this.log.generatePass.instagram.startTime | date:'medium' }} </li>
                  <li> Completed creation of password:  {{this.log.generatePass.instagram.completionTime | date:'medium' }} </li>
                  <li> Number of failed attempts:  {{this.log.generatePass.instagram.failedAttempts }} </li>
                  <li> Number of  attempts:  {{this.log.generatePass.instagram.attempts }} </li>
                  <li> Number of  successful attempts:  {{(this.log.generatePass.instagram.attempts) - (this.log.generatePass.instagram.failedAttempts) }} </li>
            
              </div> 



              <li *ngIf="this.log.enterPass.bank"><b>
                  Enter bank password
                </b>
                  </li>
                  <div *ngIf="this.log.enterPass.bank">
                      <li> Started creation of password:  {{this.log.enterPass.bank.startTime | date:'medium' }} </li>
                      <li> Completed creation of password:  {{this.log.enterPass.bank.completionTime | date:'medium' }} </li>
                      <li> Number of failed attempts:  {{this.log.enterPass.bank.failedAttempts }} </li>
                      <li> Number of  attempts:  {{this.log.enterPass.bank.attempts }} </li>
                      <li> Number of  successful attempts:  {{(this.log.enterPass.bank.attempts) - (this.log.enterPass.bank.failedAttempts) }} </li>
                     
                  </div> 
        
               
                <li *ngIf="this.log.enterPass.email"><b>
                    Enter email password log
                  </b>
                    </li>
        
                    <div *ngIf="this.log.enterPass.email">
                        <li> Started creation of password:  {{this.log.enterPass.email.startTime | date:'medium' }} </li>
                        <li> Completed creation of password:  {{this.log.enterPass.email.completionTime | date:'medium'  }} </li>
                        <li> Number of failed attempts:  {{this.log.enterPass.email.failedAttempts }} </li>
                        <li> Number of  attempts:  {{this.log.enterPass.email.attempts }} </li>
                        <li> Number of  successful attempts:  {{(this.log.enterPass.email.attempts) - (this.log.enterPass.email.failedAttempts) }} </li>
                     
                       
                    </div> 
                 <li *ngIf="this.log.enterPass.instagram"><b>
                    Enter instagram password log
                    </b>
                      </li>
        
                      <div *ngIf="this.log.enterPass.instagram">
                          <li> Started creation of password:  {{this.log.enterPass.instagram.startTime | date:'medium' }} </li>
                          <li> Completed creation of password:  {{this.log.enterPass.instagram.completionTime | date:'medium' }} </li>
                          <li> Number of failed attempts:  {{this.log.enterPass.instagram.failedAttempts }} </li>
                          <li> Number of  attempts:  {{this.log.enterPass.instagram.attempts }} </li>
                          <li> Number of  successful attempts:  {{(this.log.enterPass.instagram.attempts) - (this.log.enterPass.instagram.failedAttempts) }} </li>
                    
                      </div> 

     </ul>

  </div>
