<!--Select with pure css-->

<div class="modal-header">
  <h4 class="modal-title">{{data.title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="padding:5vh;">
    <div *ngIf="!(attempts < 3)" >
        <input [(ngModel)]="recoverPass" type="text" class="recoverInput" placeholder="Enter recovery password">
    
        <button type="button" class="btn btn-warning" style="margin-bottom: 0px"  id='recoverBtn'(click)="recover(recoverPass)"
          style="margin-bottom:20px">Recover</button>
    
      </div>
   
  <div *ngIf="attempts < 3">    

  <div style="float: left;" *ngIf="testPass">
      <h5 *ngIf="selected.length > 0" style="margin-bottom:14px;"> Selected Password
        </h5>
        <div class="passImg" >
          <div *ngFor="let item of selected; let i = index  " class="pass1">
            <img [src]="item.img">
            <p>
              {{item.title}}
            </p>
          </div>
    
        </div>

        
    <h5 style="float:left;width:90%"> Select Password
    </h5>

    <div class="imgwrap">
      <img (click)="selectPass(item)" *ngFor="let item of list; let i = index  " [src]="item.img" />

    </div>


    
  </div>


</div>
</div>
<!-- <div class="modal-footer" style=" display: table;clear:both;"> 
    <button type="button" class="btn btn-success" (click)="activeModal.close('Close click')">Save</button>
  </div> -->