<!--Select with pure css-->

<div class="modal-header">
  <h4 class="modal-title">{{data.title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="padding:5vh;">
    <div *ngIf="!(attempts < 3)" >
        <input [(ngModel)]="recoverPass" type="text" class="recoverInput" placeholder="Enter recovery password">
    
        <button type="button" class="btn btn-warning" style="margin-bottom: 0px"  id='recoverBtn'(click)="recover(recoverPass)"
          style="margin-bottom:20px">Recover</button>
    
      </div>
   
  <div *ngIf="attempts < 3">    
  <button type="button" class="btn btn-outline-success" *ngIf="testPass" (click)="retryPass()"
    style="margin-bottom:20px">Restart</button>
 

  <div style="float: left;width: 90%;" *ngIf="!testPass">
    <div class="select">
      <select (change)="choose($event.target.value)" class="select-text" required>
        <option value="" disabled selected></option>
        <option value="Fruits">Fruits</option>
        <option value="Cars">Cars</option>
        <option value="Flags">Flags</option>
        <option value="Places">Places</option>
        <option value="Social">Social</option>
      </select>
      <span class="select-highlight"></span>
      <span class="select-bar"></span>
      <label class="select-label">Choose a category</label>
    </div>

    <h5 *ngIf="category"> This is your password
    </h5>
    <div class="passImg" style="float: left;width: 90%;">
      <div *ngFor="let item of category; let i = index  " class="pass1">
        <img [src]="item.img">
        <p>
          {{item.title}}
        </p>
      </div>

    </div>
    <h5 *ngIf="category" style="float:left;padding-top: 2vh;padding-bottom: 2vh"> Enter this recovery password after 3
      failed attempts: <b>{{password}}</b>
    </h5>

    <button *ngIf="category" type="button" class="btn btn-outline-success" (click)="tryPass()">Test</button>

  </div>


  <div style="float: left;" *ngIf="testPass">
      <h5 *ngIf="selected.length > 0"  style="margin-bottom:14px;"> Selected Password
        </h5>
        <div class="passImg" >
          <div *ngFor="let item of selected; let i = index  " class="pass1">
            <img [src]="item.img">
            <p>
              {{item.title}}
            </p>
          </div>
    
        </div>

        
    <h5 style="float:left;width:90%"> Select Password
    </h5>

    <div class="imgwrap">
      <img (click)="selectPass(item)" *ngFor="let item of list; let i = index  " [src]="item.img" />

    </div>


    
  </div>


</div>
</div>
<!-- <div class="modal-footer" style=" display: table;clear:both;"> 
    <button type="button" class="btn btn-success" (click)="activeModal.close('Close click')">Save</button>
  </div> -->