
/* select starting stylings ------------------------------*/
.select {
    font-family:
      'Roboto','Helvetica','Arial',sans-serif;
      position: relative;
      width: 350px;
      margin-bottom: 3vh;
  }
  .recoverInput{
    padding: 20px;
    width: 60%;
    margin: 0 auto;
  }
  
  #recoverBtn{
    padding: 20px;
    margin-left: 40px;
    margin-bottom: 0px;
  }
  .imgwrap {
    width:98%;
    margin:0px auto;
    padding:5px;
    overflow:hidden;
  }
  .imgwrap img {

    width:82px;
    padding: 8px;
    height:auto;
   display:inline-block;
    cursor:pointer;
    -webkit-transition:opacity 0.26s ease-out;   
       -moz-transition:opacity 0.26s ease-out;   
        -ms-transition:opacity 0.26s ease-out;   
         -o-transition:opacity 0.26s ease-out;   
            transition:opacity 0.26s ease-out;   
  }
  .imgwrap:hover img {opacity:0.3;}
  .imgwrap:hover img:hover {opacity:1;}

  


::ng-deep  .myCustomModalClass .modal-dialog {
    max-width: 1290px !important;
    min-width: 800px !important;   
    width: 85% !important;
  }
  
  .select-text {
      position: relative;
      font-family: inherit;
      background-color: transparent;
      width: 350px;
      padding: 10px 10px 10px 0;
      font-size: 18px;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid rgba(0,0,0, 0.12);
  }
  
  /* Remove focus */
  .select-text:focus {
      outline: none;
      border-bottom: 1px solid rgba(0,0,0, 0);
  }
  
      /* Use custom arrow */
  .select .select-text {
      appearance: none;
      -webkit-appearance:none
  }
  
  .select:after {
      position: absolute;
      top: 18px;
      right: 10px;
      /* Styling the down arrow */
      width: 0;
      height: 0;
      padding: 0;
      content: '';
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid rgba(0, 0, 0, 0.12);
      pointer-events: none;
  }
  
  
  /* LABEL ======================================= */
  .select-label {
      color: rgba(0,0,0, 0.26);
      font-size: 18px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 0;
      top: 10px;
      transition: 0.2s ease all;
  }
  
  .homeWrap{
    position: absolute;
    right: 0;
    top: 40%;
    width: 350px;
    left: 0;
    margin: 0 auto;
  }

  .homeWrap .create{
    padding: 2vh;
    font-size: 2vh;
    font-weight: 600;
  }

  *:focus {outline:none}
  .wrap {
    top:5%;
     margin: 0 auto;
     margin-left: 10vw;
     margin-right: 10vw;
    width: 80vw;
    position: absolute;
  }

  .passImg{
      margin-top: 2vh;
      width: 90%;
      margin-bottom: 2vh
  }
  .pass1{
      float: left;
      margin-right: 2vh;
  }

  .pass1 p{
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 10px;
}

.pass1 img{
    width:  auto;
    height: 50px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
  /* active state */
  .select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
      color: #2F80ED;
      top: -20px;
      transition: 0.2s ease all;
      font-size: 14px;
  }
  
  /* BOTTOM BARS ================================= */
  .select-bar {
      position: relative;
      display: block;
      width: 350px;
  }
  
  .select-bar:before, .select-bar:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: #2F80ED;
      transition: 0.2s ease all;
  }
  
  .select-bar:before {
      left: 50%;
  }
  
  .select-bar:after {
      right: 50%;
  }
  
  /* active state */
  .select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
      width: 50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .select-highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
  }